html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

/* body{
    align-items: center;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    font-family: "Dosis", sans-serif;
    font-display: swap;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

#main_title_text {
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;

    text-align: center;

    background-color: blue;
    
    padding: 0.5vw;

    border: solid black;
    border-width: 0.5vw;
    border-radius: 0.5vw;
}