html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    font-family: "Dosis", sans-serif;
    font-display: swap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    top: 20%;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 25px 35px;
}

#main_title_text {
    font-family: Arial, Helvetica, sans-serif;
    color: black;

    text-align: center;
    
    padding: 0.5vw;

    border-width: 0.5vw;
    border-radius: 0.5vw;
}

.butão {

    top: 20%;

    text-align: center;
}